<head>
  <link rel="stylesheet" href="../../static/css/partials/header.css" />
</head>
<header class="header">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <img src="../../static/img/logo-supermarket.svg" alt="" />
      </div>

      <div class="navbar-links">
        <a href="/">Inicio</a>
        <a href="/products">Productos</a>
        <a href="">Ofertas</a>
        <a href="">Nosotros</a>
        <a href="">Contacto</a>
      </div>

      <div class="navbar-actions">
        <a class="btn-primary" href="/login">
          <img
            src="{{ url_for('static', filename='img/user-icon.svg') }}"
            alt="User Icon"
          />
          Login
        </a>
      </div>
    </div>
  </nav>
</header>
