<header class="header">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-logo">
        <img src="../../static/img/logo-supermarket.svg" alt="" />
      </div>

      <div class="navbar-links">
        <a href="/">Inicio</a>
        <a href="/products">Productos</a>
        <a href="">Ofertas</a>
        <a href="">Nosotros</a>
        <a href="">Contacto</a>
      </div>

      <div class="navbar-actions">
        <a class="btn-primary" href="/cart">
          <span class="material-symbols-outlined">shopping_cart</span>
          Carrito
          <span class="cart-count" data-cart-count>{{ cart_count }}</span>
        </a>
        {% if is_admin %}
        <a class="btn-primary" href="/admin">
          <span class="material-symbols-outlined">admin_panel_settings</span>
          Admin
        </a>
        {% endif %} {% if user_name %}
        <span class="navbar-user">Hola, {{ user_name }}</span>
        <form method="post" action="/logout">
          <button type="submit" class="btn-primary">Salir</button>
        </form>
        {% else %}
        <a class="btn-primary" href="/login">
          <img
            src="{{ url_for('static', filename='img/user-icon.svg') }}"
            alt="User Icon"
          />
          Login
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
