<main class="content">
  <div class="image-container">
    <img
      src="../../static/img/banners/banner-frutas.jpg"
      alt="imagen de banner de frutas"
    />
  </div>
  <div class="category">
    <div class="">

        <span class="material-symbols-outlined"> nutrition </span>

    <span class="material-symbols-outlined"> fork_spoon </span>
    <span class="material-symbols-outlined"> bakery_dining </span>
    <span class="material-symbols-outlined"> set_meal </span>
    <span class="material-symbols-outlined"> mode_cool </span>
    <span class="material-symbols-outlined"> egg_alt </span>
    </div>
   
  </div>
</main>
