<main class="content">
  <div class="image-container">
    <img
      src="../../static/img/banners/banner-frutas.jpg"
      alt="imagen de banner de frutas"
    />
  </div>
  <div class="category_text">
    <h2>Categorias</h2>
  </div>
  <div class="category-wrapper">
    
    <div class="sub_category">
      <div class="circle_category">
        <span class="material-symbols-outlined"> nutrition </span>
      </div>
      <span>Frutas</span>
    </div>
    
    <div class="sub_category">
      <div class="circle_category spoon">
        <span class="material-symbols-outlined"> fork_spoon </span>
      </div>
      <span>Verduras</span>
    </div>
    <div class="sub_category">
      <div class="circle_category dinig">
        <span class="material-symbols-outlined"> bakery_dining </span>
      </div>
      <span>Panadería</span>
    </div>
    <div class="sub_category">
      
      <div class="circle_category egg">
        <span class="material-symbols-outlined"> egg_alt </span>
      </div>
      <span>Lácteos</span>
    </div>
    <div class="sub_category">
      <div class="circle_category meal">
        <span class="material-symbols-outlined"> set_meal </span>
      </div>
      
      <span>Carnicería</span>
    </div>
    <div class="sub_category">
      <div class="circle_category cool">
        <span class="material-symbols-outlined"> mode_cool </span>
      </div>
      <span>Congelados</span>

    </div>
  </div>
</main>
