.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.image-container{
    width: 100%;;
}

.image-container img{
    width: 100% ;
    height: 400px ;
    object-fit: cover;
}


.category > span{
    font-size: 2rem;
}

.category-wrapper{
    display: flex;
    gap: 16px;
    margin: 4px 30px;
}

.sub_category{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_text{
   margin: 8px 30px;
}

.circle_category{
    border-radius: 100%;
    width: 56px;
    height: 56px;
    padding: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #DFF7E9;
    color: #13EC6D;
}

.sub_category > span{
    font-size: 0.8rem;
    font-weight: 500;
}


.spoon{
    background-color: #FFEDD5;
    color: #EA580C;
}

.dinig{
    background-color: #DBEAFE;
    color: #2563EB; 
}

.meal{
    background-color: #FEE2E2;
    color: #DC2626;
}

.cool{
    background-color: #FEF3C7;
    color: #D97706;
}

.egg{
    background-color: #F3E8FF;
    color: #9B41EC;
}