.products {
    margin: 10px 30px;
}

.products-details {
    text-align: center;
}

.products-details>span {
    font-weight: 600;
    color: var(--text-muted);
}

.products-viewmore {
    text-align: right;
    margin-top: 10px;
}

.products-viewmore > a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary);
    position: relative;
}

.products-viewmore > a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background-color: var(--primary);
    transition: width 0.3s ease;
}

.products-viewmore > a:hover::after {
    width: 100%;
}




.products-list {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 16px;
}

.products-items {
    padding: 12px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 1px;
    flex-direction: column;
    position: relative;
}

.badge-category {
    position: absolute;
    top: 10px;
    left: 10px;
}

.badge-offer{
    position: absolute;
    top: 10px;
    right: 10px;
}

.products-image {
    align-self: center;
    height: 120px;
    margin-top: 10px;
}

.products-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.products-items h3{
    font-size: 1rem;
    font-weight: 600;
}

.products-items > p{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-muted);
}

.price{
    font-size: 1.3rem;
    font-weight: bolder;
}

.price--offer{
    margin-left:10px;
    text-decoration: line-through;
}

.add-to-cart-container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart{
    background-color: var(--primary);
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #388e3c;
}