.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.image-container{
    width: 100%;;
}

.image-container img{
    width: 100% ;
    height: 400px ;
    object-fit: cover;
}

.category > span{
    font-size: 2rem;
}