.header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: blur(12px);
    max-width: 100%
}

.navbar {
    border-bottom: 1px solid var(--border-dark);
    margin: 0 50px;
}

.navbar-container {
    margin: auto;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.75rem;

}

.navbar-logo img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-logo img:hover {
    transform: scale(1.05);
}

.navbar-logo h2 {
    font-size: 1.1rem;
    font-weight: 700;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
}

.navbar-links a {
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.navbar-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    border-radius: 1px;
    background-color: var(--primary);
    transition: width 0.3s ease;
}

.navbar-links a:hover::after {
    width: 100%;
}

.navbar-links a:hover {
    color: var(--text-light);
}

.btn-primary {
    color: var(--text-light);
    background-color: transparent;
    border: none;
    box-shadow: 2px 2px 8px rgba(76, 175, 80, 0.2);
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-1px);
}

.navbar-actions img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* .navbar-actions{
    

} */